In [5]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [6]:
data = pd.read_csv('data/iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
x = data[['sepal_length']]
y = data[['species']]

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

disModel = DecisionTreeClassifier()
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=.3,random_state=42)
disModel.fit(x_train, y_train)
y_pred = disModel.predict(x_test)

In [8]:
print(y_test.head())
print(y_pred[:5])

        species
73   versicolor
18       setosa
118   virginica
78   versicolor
76   versicolor
['versicolor' 'versicolor' 'virginica' 'versicolor' 'virginica']

In [10]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[16,  3,  0],
       [ 0,  7,  6],
       [ 0,  2, 11]], dtype=int64)

In [1]:
accuracy_class = (16+7+11)/(16+3+0+0+7+6+0+2+11)
print(accuracy_class)

0.7555555555555555

# DecisionTreeRegressor

In [20]:
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor

In [21]:
data = pd.read_csv('data/iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [30]:
y = data[['sepal_length']]
x = data[['petal_length']]

from sklearn.model_selection import train_test_split

disModel = DecisionTreeRegressor()
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=.25,random_state=42)
disModel.fit(x_train, y_train)
y_pred = disModel.predict(x_test)

In [31]:
print(y_test.head())
print(y_pred[:5])

     sepal_length
73            6.1
18            5.7
118           7.7
78            6.0
76            6.8
[6.6        5.3        7.7        5.475      6.03333333]

In [32]:
mean_squared_error(y_test, y_pred)

0.20603015756985063